.productContainer {
  width: 185px;
  text-align: center;
  margin: 0 12px 24px;
  text-transform: uppercase;
}

.sortingSection {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 25px;
  padding-bottom: 30px;
}

.sortingSection select {
  height: 36px;
  border: 1px solid #ccc;
  font-size: 15px;
  padding: 0 10px;
  color: #999;
}

.sortingSection label {
  margin-right: 15px;
}

.sortingSection select:focus {
  outline: none;
}

.productList-section {
  width: 100%;
}

.static-container {
  height: 600px;
  overflow: scroll;
  overflow-x: hidden;
  min-width: 100%;
}
