html {
  min-height: 100%;
  position: relative;
}
body {
  height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (min-width: 1260px) {
  .container {
    max-width: 1260px;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
}

.rowflex {
  display: flex;
}

.col-sm-12 {
  margin: 0 auto;
  display: flex;
  flex-direction: inherit;
  flex-wrap: wrap;
  width: fit-content;
  justify-content: center;
}

.categories-list {
  width: 135px;
}

.categories-list ul {
  padding: 0;
}

.categories-list ul li {
  list-style: none;
  padding: 5px 0 0 0;
  cursor: pointer;
}

.categories-list h3 {
  margin-top: 0;
}

.right-header-elements {
  display: flex;
  align-items: center;
}
