@media screen and (min-width: 1260px) {
  .container {
    max-width: 1260px;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
}

.rowflex {
  display: flex;
}

.col-sm-12 {
  margin: 0 auto;
  display: flex;
  flex-direction: inherit;
  flex-wrap: wrap;
  width: fit-content;
  justify-content: center;
}

.categories-list {
  width: 135px;
}

.categories-list ul {
  padding: 0;
}

.categories-list ul li {
  list-style: none;
  padding: 5px 0 0 0;
  cursor: pointer;
}

.categories-list h3 {
  margin-top: 0;
}
